@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-black: #000;
$color-white: #fff;
$color-blue: #0085ff;
$color-yellow: #ffc700;
$color-orange: #ff9f1e;

body {
    font-family: "Inter", sans-serif;

    /* global start */

    .container {
        max-width: 1366px;
        margin: 0 auto;

        @media screen and (max-width: 1368px) {
            padding: 0 20px;
        }
    }

    .flag_panel {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0;
        bottom: 0;

        .color_block {
            height: 50%;

            &.blue {
                background-color: $color-blue;
            }

            &.yellow {
                background-color: $color-yellow;
            }
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    .button {
        display: inline-grid;
        grid-auto-flow: column;
        gap: 14px;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        white-space: nowrap;
        border: none;
        outline: none;
        padding: 12px;
        border-radius: 30px;
        cursor: pointer;

        &.gradient {
            min-width: 143px;
            width: fit-content;
            color: $color-white;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: linear-gradient(272deg, #fed600 -12.32%, #025cbb 95.55%);
        }

        &.blue {
            padding: 20px;
            background: #2f80ed;
        }

        &.transparent {
            padding: 20px 30px;
            border: 1px solid #111;

            &.active,
            &:hover {
                background: #111;
            }
        }

        &.icon {
            width: 15px;
        }
    }

    .cards_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 17px 20px;
        padding: 0 20px;

        .card_item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            color: $color-white;
            min-height: 460px;
            max-height: 460px;
            padding: 22px 33px 26px 22px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);

            .card_bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }

            .card_title {
                width: fit-content;
                min-height: 48px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: underline;
            }

            .card_subtitle {
                margin-top: 13px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .card_statistic {
                margin-top: 13px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .statistic_sum {
                    display: table;

                    .statistic_row {
                        display: table-row;

                        .row_name,
                        .row_sum {
                            display: table-cell;
                            padding: 0 19px 17px 0;
                        }
                    }
                }
                @media screen and (max-width: 460px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            @media screen and (max-width: 460px) {
                justify-content: center;
                padding: 20px 15px;
            }
        }

        @media screen and (max-width: 1290px) {
            padding: 0;
        }

        @media screen and (max-width: 450px) {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }

    .cirle_progress {
        .circle_progress_wrap {
            transform: rotate(180deg);
            circle {
                stroke-dashoffset: 0;
                transition: stroke-dashoffset 1s linear;
                stroke: rgba(229, 229, 229, 0.3);
                stroke-width: 10;
            }

            .progress_bar {
                stroke-linecap: round;

                &.orange {
                    stroke: $color-orange;
                }

                &.blue {
                    stroke: $color-blue;
                }
            }
        }
    }

    .language_picker {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 20px;
        margin-left: 32px;

        .language_item {
            color: #111;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;

            &.uk {
                display: inline-block;
            }

            &.eng {
                display: none;
            }
        }

        .arrow {
            transform: translateY(2px);
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #111 transparent transparent transparent;
        }

        &.checked {
            .language_item {
                &.eng {
                    display: inline-block;
                }

                &.uk {
                    display: none;
                }
            }
        }
    }

    .mob_menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        z-index: 4;
        background: $color-white;
        padding: 30px 20px;
        height: 100%;
        min-height: 340px;
        overflow-y: auto;
        width: 280px;
        -webkit-box-shadow: 8px 3px 17px 0px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 8px 3px 17px 0px rgba(0, 0, 0, 0.47);
        box-shadow: 8px 3px 17px 0px rgba(0, 0, 0, 0.47);
        transform: translateX(-110%);

        .menu_container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            a {
                text-decoration: none;
            }

            .menu_list {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .menu_item {
                    color: $color-black;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }

            .actions {
                display: flex;
                align-items: center;
                margin-top: 50px;
            }
        }

        &.active {
            transform: translateX(0);
        }
    }

    /* global end */

    .header {
        min-height: 86px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 30px 20px;

        .actions {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
            }

            @media screen and (max-width: 850px) {
                display: none;
            }
        }

        .header_nav {
            display: flex;
            gap: 28px;
            margin-right: 42px;

            .nav_link {
                position: relative;
                color: $color-black;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    width: 0;
                    transition: 0.3s;
                    height: 1px;
                    background: $color-black;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }

        .burger-wrapper {
            display: none;
            width: 40px;
            height: 40px;

            .burger {
                width: 18px;
                height: 12px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;

                span {
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: $color-black;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: 0.25s ease-in-out;

                    &:nth-child(1) {
                        top: 0px;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 4px;
                    }

                    &:nth-child(4) {
                        top: 8px;
                    }
                }
            }

            &.active {
                .burger {
                    span:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    span:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    span:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    span:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }

            @media screen and (max-width: 850px) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }

        @media screen and (max-width: 850px) {
            padding: 20px 0;
        }
    }

    section {
        &.section_padding {
            padding: 0 132px;

            @media screen and (max-width: 1290px) {
                padding: 0;
            }
        }

        .section_subtitle,
        .section_description {
            max-width: 870px;
        }

        .section_description {
            max-width: 970px;
            padding-right: 100px;

            @media screen and (max-width: 575px) {
                padding-right: 0;
            }

            > p {
                margin-top: 20px;
                color: $color-black;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &:first-of-type {
                    margin-top: 0;
                }
            }
        }

        .section_title {
            color: $color-black;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media screen and (max-width: 575px) {
                font-size: 30px;
            }
        }

        .section_subtitle {
            color: $color-black;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 25px;

            @media screen and (max-width: 470px) {
                margin-top: 10px;
            }
        }

        &.main_banner {
            position: relative;
            background: $color-black;
            padding-left: 30px;
            overflow: hidden;

            .banner_content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 435px;
                max-height: 435px;

                .content_col {
                    display: flex;
                    flex-direction: column;

                    .section_title,
                    .section_subtitle {
                        color: $color-white;
                    }

                    &:first-child {
                        padding-left: 132px;
                        min-width: 383px;

                        @media screen and (max-width: 1301px) {
                            padding-left: 30px;
                        }

                        @media screen and (max-width: 800px) {
                            min-width: auto;
                            position: relative;
                            z-index: 1;
                        }
                    }

                    > .button {
                        margin-top: 33px;
                    }

                    &.heart_wrap {
                        max-width: 747px;

                        .heart {
                            width: 100%;
                            transform: translateY(65px);

                            @media screen and (max-width: 992px) {
                                transform: translateY(0);
                            }
                        }

                        @media screen and (max-width: 800px) {
                            position: absolute;
                            right: -20%;
                            top: 0;
                            max-width: 640px;
                        }

                        @media screen and (max-width: 560px) {
                            display: none;
                        }
                    }
                }

                @media screen and (max-width: 800px) {
                    position: relative;
                }
            }

            .banner_foooter_panel {
                position: relative;
                display: grid;
                border-top: 1px solid $color-white;
                grid-template-columns: repeat(4, 1fr);
                min-height: 125px;

                .item {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 24px;
                    border-right: 1px solid $color-white;
                    color: $color-white;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 15px;
                    z-index: 1;

                    &:last-of-type {
                        border-right: none;
                    }
                }

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }

        &.dont_turn {
            margin-top: 84px;

            .section_title,
            .section_subtitle {
                padding-left: 132px;

                @media screen and (max-width: 1290px) {
                    padding-left: 0;
                }
            }

            .cards_grid {
                margin-top: 108px;

                @media screen and (max-width: 992px) {
                    margin-top: 30px;
                }
            }

            @media screen and (max-width: 992px) {
                margin-top: 30px;
            }
        }

        &.feature {
            margin-top: 73px;
            padding-bottom: 40px;

            .content_box {
                position: relative;
                margin-top: 53px;

                .flag_panel {
                    width: 92px;

                    @media screen and (max-width: 575px) {
                        display: none;
                    }
                }

                @media screen and (max-width: 992px) {
                    margin-top: 30px;
                }
            }

            .button {
                margin-top: 42px;
            }

            @media screen and (max-width: 992px) {
                margin-top: 30px;
            }
        }
    }

    .footer {
        padding: 50px 0;
        background-color: #333333;

        a {
            text-decoration: none;
        }

        .flex_wrap {
            display: flex;
            justify-content: space-between;
        }

        .footer_column {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .footer_nav {
            .nav_item {
                color: $color-white;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .contacts {
            .icon {
                width: 24px;
            }

            .contact_item {
                color: $color-white;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .social_row {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        .divider {
            width: 100%;
            height: 2px;
            background-color: #4e575e;
            margin: 50px 0;
        }

        .rights {
            color: #868688;
            font-size: 16px;
        }
    }

    &::-webkit-scrollbar-track {
        border-radius: 6px;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: linear-gradient(272deg, #fed600 -12.32%, #025cbb 95.55%);
    }
}
